{% extends "base.html" %}
{% block body %}
    {% include "navbar.html" %}
    <section class="hero is-primary is-bold is-large">
        <div class="hero-body">
            <div>
                <a href="/static/image/{{ file }}.png" download="{{ file }}.png">点击下载</a>
            </div>
            <div>
                <img src='/static/image/{{ file }}.png' sizes="(max-width: 200px) 200px, 50vw">
            </div>
            <link rel="stylesheet" href="../static/css/upload.css">
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="../static/js/scripts.js"></script>
{% endblock %}
{#<img src='/static/image/{{file}}.png' sizes="(max-width: 600px) 200px, 50vw">#}